.u-section-1 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.5), rgba(64,64,64,0.5)), url("images/greens.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 1.125rem;
  margin: 28px 587px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 300px 535px 0 20px;
}

.u-section-1 .u-text-3 {
  margin: 30px 92px 0 20px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 267px;
  min-width: 139px;
  animation-duration: 1000ms;
  margin: 22px auto 60px 30px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 387px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 355px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: NaNpx;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 167px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 135px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -21px;
    margin-left: 21px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(51,51,51,0.4), rgba(51,51,51,0.4)), url("images/greens.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }
}